body {
    background: #222;
}

.card {
    width: 100%;
    max-width: 1000px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #f6f5f5;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind,
.coordinate,
.pressure {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

#map {
    height: 300px; /* Set the height of the map container */
    width: 100%;   /* Set the width of the map container */
    margin-top: 20px; /* Add some top margin to separate it from other elements */
}

#news {
    height: 600px; /* Set the height of the map container */
    width: 100%;   /* Set the width of the map container */
    margin-top: 20px; /* Add some top margin to separate it from other elements */
    border: #ebfffc;
    border-width: 5px;
}

#weather-image {
    height: 300px; /* Set the height of the map container */
    width: 100%;   /* Set the width of the map container */
    margin-top: 20px; /* Add some top margin to separate it from other elements */
}
#air-quality-container {
    height: 300px; /* Set the height of the map container */
    width: 100%;   /* Set the width of the map container */
    margin-top: 20px; /* Add some top margin to separate it from other elements */
}

/* Add this to your CSS file */
.read-more-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.read-more-button:hover {
    background-color: darkblue;
}




